.kit-product-blurb {
  list-style: none;
  margin-bottom: 2rem;
}

.description-html {
  margin-left: 0rem;
  margin-bottom: 2rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--ifm-color-gray-500);
}